main {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem; 
}

::ng-deep app-paginator{
    width: 100%;
    margin: 0 2rem;
    justify-content: space-between;
}
::ng-deep app-single-user{
    width: 100%;
    margin: 0 2rem;
    justify-content: space-between;
}