section {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }

  app-user-card {
    margin-bottom: 2rem
  }
}
